<!DOCTYPE html>
<div class="header-medium-port">

</div>
<div class="header-small-port">
    <input id="toggle" type="checkbox">
    <label class="toggle-container" for="toggle">
        <span class="button button-toggle"></span>
    </label>
    <nav class="nav">
        <a class="nav-item" href="#" (click)="onClick($event)" id="opt-1">Dashboard</a>
        <a class="nav-item" href="#" (click)="onClick($event)" id="opt-2">History</a>
        <a class="nav-item" href="#" (click)="onClick($event)" id="opt-3">Statistics</a>
        <a class="nav-item" href="#" (click)="onClick($event)" id="opt-4">Settings</a>
    </nav>
</div>