<!DOCTYPE html>
<div class="left-navigation-links">
  <ul class="list-unstyled">
    <div class="left-navigation-title">
      <p class="text-uppercase">Left Nav Title</p>
    </div>
    <li>
      <a id="opt-1" href="#" (click)="onClick($event)">Dashboard</a>
    </li>
    <li>
      <a id="opt-2" href="#" (click)="onClick($event)">History</a>
    </li>
    <li>
      <a id="opt-3" href="#" (click)="onClick($event)">Statistics</a>
    </li>
    <li>
      <a id="opt-4" href="#" (click)="onClick($event)">Settings</a>
    </li>
  </ul>
</div>