/* Bootstrap overrides */

html {
    font-size: 65.5%;
    -webkit-font-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background: #dbd9d2 !important;
    margin: 0;
}

.content-wrapper {
    background: #ffffff;
}

.component {
    display: block;
    overflow: inherit;
    height: 100%;
    padding: 0 2rem 2rem 2rem;
    margin-bottom: 2rem;
}

.center{
    margin: auto;
    display: block;
}
.component .row {
    padding-bottom: 3rem;
}

h1 {
    font-size: 2.8rem;
}

h2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.content-wrapper h2 {
    font-size: 2.8rem;
    margin: 3rem 0;
    color: #333333;
}

.content-wrapper h3 {
    font-size: 2.2rem;
    margin: 3rem 0;
    color: #333333;
}

.content-wrapper .description p {
    margin: 0 0 3rem 0;
    padding: 0;
    font-size: 1.6rem;
}

label {
    margin: 0 !important;
    font-size: 1.4rem;
}

.button-jade {
    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
    background: #008580;
    padding: 1.2rem 2rem;
    outline: 0;
    border: none;
    border-radius: 0;
    text-decoration: none;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.button-jade:hover,
.button-jade:focus {
    background: #00716c;
    outline: none;
}

.button-primary {
    background: #db0011;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    border: none;
    outline: 0;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    line-height: 100%;
    cursor: pointer;
    position: relative;
}

.button-primary:focus,
.button-primary:hover {
    background: #af000d;
    outline: none;
}

.button-primary.is-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.button-secondary {
    background: #ffffff;
    font-size: 1.6rem;
    color: #333333;
    padding: 1.5rem 2rem;
    border: 0.1rem solid #333333;
    outline: 0;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    line-height: 100%;
    cursor: pointer;
    position: relative;
}

.button-secondary:focus,
.button-secondary:hover {
    background: #ededed;
    outline: none;
}

.button-cancel {
    background: transparent;
    font-size: 1.6rem;
    color: #333333;
    padding: 1.5rem 2rem;
    border: none;
    outline: 0;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    line-height: 100%;
    cursor: pointer;
}

.button-cancel:focus,
.button-cancel:hover {
    text-decoration: underline;
    outline: none;
}

.button-cancel.is-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.button-slate {
    background: #4d6474;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 1.5rem 2rem;
    margin-top: 2.5rem;
    border: 0.1rem solid #4d6474;
    outline: 0;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    line-height: 100%;
    cursor: pointer;
    position: relative;
}

.button-slate:focus,
.button-slate:hover {
    background: #3e505d;
    border: 0.1rem solid #3e505d;
    outline: none;
}

.button-slate.is-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

/* Bootstrap overrides */

#left-nav {
    background-color: #ffffff;
}

.line-separator {
    width: 100%;
    border-bottom: 0.1rem solid #000000;
    opacity: 0.15;
    min-height: 1px;
}

/* Page overlay spinner */

.blur-container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

/* End Page overlay spinner */

/* Step tracker */

.step-counter {
    height: 0.5rem;
    background: #eeedeb;
}

.step-indicator-1 {
    width: 33.33%;
}

.step-indicator-2 {
    width: 66.66%;
}

.step-indicator-3 {
    width: 100%;
}

.step-indicator {
    height: 0.5rem;
    background: #db0011;
}

/* End Step tracker */

/* Date Picker overrides */

.date-picker .mat-form-field-wrapper {
    padding: 0;
}

.date-picker svg {
    display: none;
}

.mat-icon-button {
    display: inline-block !important;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit !important;
    text-rendering: auto !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.mat-icon-button::after {
    content: "\f073";
    font-size: 1.5rem;
    color: #333333;
}

.mat-form-field-flex {
    border: 0.1rem solid #929292;
    padding: 1rem;
}

.mat-form-field-infix {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 0 !important;
}

.mat-form-field-underline {
    background-color: transparent !important;
}

.mat-focused .mat-form-field-underline .mat-input-ripple,
.mat-form-field-invalid .mat-form-field-underline .mat-form-field-ripple {
    visibility: hidden !important;
}

input.mat-input-element {
    margin-top: 0 !important;
    vertical-align: middle !important;
}

.mat-form-field-label-wrapper {
    top: 0 !important;
    padding-top: 0 !important;
}

.date-picker .mat-input-element {
    font-size: 1.4rem;
}

.mat-form-field-flex {
    align-items: center !important;
}

.mat-form-field-label.mat-form-field-placeholder {
    top: 0 !important;
    color: #333333 !important;
    padding: 0;
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

.cdk-overlay-container {
    z-index: 1050 !important;
}

.mat-calendar-body-selected {
    background: #008580 !important;
    color: #ffffff !important;
}

.mat-calendar-body-cell-content {
    border-radius: 0 !important;
}

.mat-calendar-previous-button.mat-icon-button.cdk-focused.cdk-keyboard-focused,
.mat-calendar-next-button.mat-icon-button.cdk-focused.cdk-keyboard-focused {
    background: #008580 !important;
    border-radius: 0 !important;
    outline: none !important;
}

.mat-calendar-next-button::after,
.mat-calendar-previous-button::after {
    color: #008580 !important;
}

.mat-calendar-previous-button.mat-icon-button.cdk-focused.cdk-keyboard-focused::after,
.mat-calendar-next-button.mat-icon-button.cdk-focused.cdk-keyboard-focused::after {
    color: #ffffff !important;
}

.mat-button-ripple.mat-ripple.mat-button-ripple-round div {
    background: transparent !important;
    border-radius: 0 !important;
}

.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
    background: #008580 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    outline: none !important;
}

.mat-calendar-arrow {
    display: none !important;
}

.mat-calendar-period-button .mat-button-wrapper {
    border-right: 0.1rem solid #9c9c9c;
    padding: 0 1rem 0 0;
}

.mat-calendar-period-button::after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 0 0 1rem;
    color: #008580 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent !important;
    height: 0 !important;
    transform: none !important;
    transition: none !important;
}

/* .mat-form-field-appearance-legacy .mat-form-field-label {
  transform: none !important;
  transition: none !important;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float.mat-form-field-label {
  transform: none !important;
  transition: none !important;
} */

.mat-form-field-appearance-legacy .mat-form-field-label {
    top: 0.2rem !important;
    font-size: 1.2rem !important;
    color: #333333 !important;
}

.mat-calendar-next-button.mat-icon-button[disabled][disabled]::after,
.mat-calendar-previous-button.mat-icon-button[disabled][disabled]::after {
    color: rgba(0, 0, 0, .26) !important;
}

/* End Date Picker overrides */

/* Radio group overrides */

.mat-radio-label-content {
    padding: 0 1.5rem 0 1rem !important;
}

.mat-radio-outer-circle,
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border: 0.1rem solid #929292 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background: #008580 !important;
}

.mat-radio-ripple.mat-ripple div {
    background: transparent !important;
}

/* End Radio group overrides */

/* Checkbox group overrides */

.mat-checkbox-frame {
    border: 0.1rem solid #929292 !important;
    border-radius: 0 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: transparent !important;
}

.mat-checkbox-checkmark .mat-checkbox-checkmark-path {
    stroke: #005e69 !important;
}

.mat-checkbox-checkmark {
    padding: 0.3rem;
}

.mat-checkbox-ripple.mat-ripple div {
    background: transparent !important;
}

.payee-billers-details .mat-checkbox-inner-container {
    vertical-align: top;
}

.payee-billers-details .mat-checkbox-layout {
    display: inline-block !important;
    padding: 2.2rem 0 2rem;
    margin: 0;
    width: 100%;
    white-space: normal;
}

.payee-billers-details .mat-checkbox-layout .mat-checkbox-label {
    width: 90%;
    display: inline-block;
}

/* End Checkbox group overrides */

@media screen and (max-width:576px) {
    .left-navigation {
        display: none;
    }
}

@media screen and (min-width:576px) {
    .header-small-port {
        display: none;
    }
}

/* End Header */

/* Footer */

@media screen and (max-height:640px) {
    .footer {
        position: relative !important;
    }
}

.footer {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; 
    align-items: center;     
    background-color: #3e505d;
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0rem;
}

/* End Footer */

/* Body */

/* End Body */

/* Custom reusable classes */

.pt-25 {
    padding: 2.5rem 0 0 0;
}

.ml-05 {
    margin: 0 0 0 0.5rem;
}

#main-component-page {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#content-wrapper {
    background-color: #ffffff;
}

.dashboard {
    height: 100%;
}

.header-medium-port {
    background-color: #3e505d;
    width: 100%;
    height: 5rem;
    margin-bottom: 0%;
}

/* Basic styles */

.header-small-port {
    position: relative;
    margin: 3.5rem auto 0;
    margin-top: 0rem;
    width: 100%;
    height: 5%;
    background-color: #3e505d;
    overflow: hidden;
}

/* Toggle functionality */

#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
}

#toggle:focus~.toggle-container .button-toggle {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked~.toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked~.toggle-container .button-toggle:hover {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked~.toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
    -ms-transform: translateY(-50%) rotate(45deg) scale(1);
    transform: translateY(-50%) rotate(45deg) scale(1);
}

#toggle:checked~.toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
    -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
    transform: translateY(-50%) rotate(-45deg) scale(1);
}

#toggle:checked:focus~.toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked~.nav {
    margin-bottom: 100px;
    pointer-events: auto;
    -webkit-transform: translate(50px, 50px);
    -ms-transform: translate(50px, 50px);
    transform: translate(50px, 50px);
}

#toggle:checked~.nav .nav-item {
    color: #ffffff;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
}

#toggle:checked~.nav .nav-item:nth-child(1) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

#toggle:checked~.nav .nav-item:nth-child(1):before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

#toggle:checked~.nav .nav-item:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#toggle:checked~.nav .nav-item:nth-child(2):before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#toggle:checked~.nav .nav-item:nth-child(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

#toggle:checked~.nav .nav-item:nth-child(3):before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

#toggle:checked~.nav .nav-item:nth-child(4) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#toggle:checked~.nav .nav-item:nth-child(4):before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#toggle:checked~.nav .nav-item:before {
    opacity: 0;
}

#toggle:checked~.dummy-content {
    padding-top: 0rem;
}

#toggle:checked~.dummy-content:before {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Toggle button */

.button-toggle {
    position: relative;
    display: inline-block;
    width: 2.0rem;
    height: 2.0rem;
    margin: 1.2rem 2.5rem 1.2rem 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.button-toggle:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

.button-toggle:before,
.button-toggle:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
    -ms-transform: translateY(-50%) rotate(45deg) scale(0);
    transform: translateY(-50%) rotate(45deg) scale(0);
}

.button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
    -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
    transform: translateY(-50%) rotate(-45deg) scale(0);
}

/* Menu */

.nav {
    position: relative;
    display: inline-block;
    margin: 1.2rem 2.5rem 1.2rem -4.5rem;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 1.4rem;
    letter-spacing: -.62rem;
    height: .7rem;
    line-height: .7rem;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
}

.nav-item:nth-child(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-item:nth-child(1):before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-item:nth-child(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.nav-item:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.nav-item:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.nav-item:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.nav-item:nth-child(4) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.nav-item:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.nav-item:nth-child(1) {
    letter-spacing: -8px;
}

.nav-item:nth-child(2) {
    letter-spacing: -7px;
}

.nav-item:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
}

.nav-item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    -webkit-transform: translateY(-50%) scaleY(5);
    -ms-transform: translateY(-50%) scaleY(5);
    transform: translateY(-50%) scaleY(5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* Dummy content */

.dummy-content {
    position: relative;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.dummy-content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.circle {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 100%;
}

.text {
    margin: 15px 0 30px;
}

.text span {
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    background-color: #C06162;
    border-radius: 5px;
}

.text span:first-child {
    width: 50px;
}

.text span:last-child {
    width: 80px;
}

.square-top {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    background-color: #FEBE7E;
    z-index: 1;
}

.square-behind {
    display: inline-block;
    position: relative;
    top: -256px;
    width: 250px;
    height: 210px;
    background-color: #C28683;
}

.square-behind:before,
.square-behind:after {
    position: absolute;
    content: '';
    top: 0;
    width: 40%;
    height: 100%;
}

.square-behind:before {
    left: 0;
    background-color: #9D567C;
}

.square-behind:after {
    right: 0;
    background-color: #958C6B;
}

@media screen and (max-width:576px) {
    .header-medium-port {
        display: none;
    }
}

/* End Custom reusable classes */